*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
    background-attachment: fixed;
    background-image: url(/assets/backgrounds/shrines/vancouver-backdrop.jpg);
    background-repeat:repeat;
}

.container {
    text-align: center;
}

main {
    margin: auto;
}

